---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Conselho da Raça Shiba Inu do Brasil">
  <h1>Conselho da Raça Shiba Inu do Brasil</h1>
  <p>Conteúdo inicial do Conselho. Em breve mais informações.</p>
</BaseLayout>

